<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
		<add key="StudentManagerDb" value="StudentManager.SQLServer"/>
		<!--<add key="StudentManagerDb" value="StudentManager.Oracle"/>-->
	</appSettings>
	<connectionStrings>
		<remove name="sqlconnstr"/>
		<add name="sqlconnstr" connectionString="Data Source=(local);Initial Catalog=StudentManager;uid=sa;pwd=sa;" providerName="System.Data.SqlClient"/>
    <!--<add name="LocalSqlServer" connectionString="data source=.\SqlExpress;Integrated Security=SSPI;Initial Catalog=StudentManager" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<authentication mode="Forms">
			<forms name=".ASPAUTH" loginUrl="Login.aspx" defaultUrl="Login.aspx" protection="All" timeout="20" requireSSL="false"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<roleManager enabled="true"></roleManager>
		<customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
	</system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
	<location path="~/Guest">
		<system.web>
			<authorization>
				<allow roles="Guest"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="~/Department/Css">
		<system.web>
			<authorization>				
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
</configuration>